
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
    <head>
        <title>Add product</title>
        
        <link rel="stylesheet" href="/css/add_product.css">
     
  
</head>
<body>
<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a class="active" href="/">shop</a></li>
            <li class="main-header_item"><a href="/add-product">Add product</a></li>
            <li class="main-header_item"><a href="/contact-us">Contact-us</a></li>
           
        </ul>
    </nav>
</header>
  <main>
   <form class="product-form" action="/add-product" method="POST">
    <div class-"form-control">
    <label for="title">Title</label>
    <input type="text" name="title" id="title"/>
    </div>
        <button type="submit">Add product</button>
   </form>

  </main>
 </body>

</html>