<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
    <head>
        <title>Add product</title>
        
        <link rel="stylesheet" href="/css/contact-us.css">
     
  
</head>
<body>
<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_item"><a class="active" href="/">shop</a></li>
            <li class="main-header_item"><a href="/add-product">Add product</a></li>
            <li class="main-header_item"><a href="/contact-us">Contact-us</a></li>
           
        </ul>
    </nav>
</header>
  <main>
   <form class="product-form" action="/contact-us" method="POST">
    <div class-"form-control">
     <label for="name">Name: </label>
     <input type="text" name="name" id="name"/>
    <br><br>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email"/>
    
    </div>
        <button type="submit">submit</button>
   </form>

  </main>
 </body>

</html>