<html>
<head>
    <title>
        Shop
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a class="active" href="/">shop</a></li>

                <li class="main-header_item"><a href="/add-product">Add product</a></li>
                <li class="main-header_item"><a href="/contact-us">Contact-us</a></li>
               
            </ul>
        </nav>
    </header>

    <main>
     <h1>My products</h1>
     <p>List of all products...</p>
    </main>
</body>

</html>
